.container {
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  /* background-color: rgb(204, 198, 198); */
}
.container img {
  width: 100%;
  border-radius: 15px;
}
h2 {
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  font-size: 16px;
  line-height: 16px;
}
